schema/sample.schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="main">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sub1" type="xs:string"/>
                            <xs:element name="sub2" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>